* {
	margin: 0;
	padding: 0;
	font-family: lucida grande;  
}

body {
	background-image: url(../gambar/beach.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.judul {
	height: 30px;
	width: 44%;
	font-weight: bold;
	color: black;
	background-color: #ffd2d2;
	text-align: center;
	margin: 5% 0% 0% 0%;
	border: 1px solid #999;
}